/* L O G I N - S T Y L E */


* {
	font-family: Arial, Verdana, Sans-serif;
}


.kotak-login {
	width: 250px;
	margin: auto;
	border: 1px solid red;
}

.kotak-login div .teks {
	width: 245px;
	margin: 0 0 5px 0;
}